In [1]:
liste= [1,2,3,4,5,6,7,8,9] 

liste2 = list() 

for i in liste:
    liste2.append(i)

In [2]:
liste2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
liste4 = [for i in liste2]

SyntaxError: invalid syntax (<ipython-input-3-cf11f82104da>, line 1)

In [4]:
liste4 = [i for i in liste2]

In [5]:
liste4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
print(liste4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
liste = [1,2,3,4,5]

In [8]:
liste1 = [i*2 for i in liste]
liste1

[2, 4, 6, 8, 10]

In [9]:
liste = [(1,2),(3,4),(5,6)]

In [10]:
liste1 = [i for i in liste]

In [11]:
liste1

[(1, 2), (3, 4), (5, 6)]

In [14]:
liste1 = [i*j for i,j in liste]

In [15]:
liste1

[2, 12, 30]

In [16]:
liste1 = [i for i,j in liste]

In [17]:
liste

[(1, 2), (3, 4), (5, 6)]

In [18]:
s = "python"

In [19]:
liste1 = [i*3 for i in s]

In [20]:
liste1

['ppp', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']

In [21]:
liste = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13,14,15]]

In [24]:
for i in liste:
    print(i)

[1, 2, 3]
[4, 5, 6, 7, 8]
[9, 10, 11, 12, 13, 14, 15]

In [27]:
 for i in liste:
            for j in i: 
                 print(j)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [28]:
for i in liste:
     for j in i: 
            liste1.append(liste1)

In [29]:
liste1

['ppp',
 'yyy',
 'ttt',
 'hhh',
 'ooo',
 'nnn',
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...],
 [...]]

In [30]:
liste = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13,14,15]]
liste1 = list()

In [31]:
liste1

[]

In [32]:
 liste1 = [i for i in liste  for j in i]

In [33]:
liste1

[[1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [4, 5, 6, 7, 8],
 [4, 5, 6, 7, 8],
 [4, 5, 6, 7, 8],
 [4, 5, 6, 7, 8],
 [4, 5, 6, 7, 8],
 [9, 10, 11, 12, 13, 14, 15],
 [9, 10, 11, 12, 13, 14, 15],
 [9, 10, 11, 12, 13, 14, 15],
 [9, 10, 11, 12, 13, 14, 15],
 [9, 10, 11, 12, 13, 14, 15],
 [9, 10, 11, 12, 13, 14, 15],
 [9, 10, 11, 12, 13, 14, 15]]

In [35]:
liste1 = list()

In [36]:
liste1

[]

In [37]:
liste1 = [i for j in liste for i in j]

In [38]:
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [39]:
print(*range(20))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19