In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [15]:
outerIndex=["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [16]:
innerIndex=["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [17]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [18]:
hierarchy =list(zip(outerIndex,innerIndex))

In [19]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [20]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [21]:
df = pd.DataFrame(randn(9,3),hierarchy,columns=["Column1","Column2","Column3"])

In [22]:
df

                Column1   Column2   Column3
Group1 Index1 -1.339549  0.191568  0.003694
       Index2  0.890539 -1.463553 -0.341711
       Index3  0.503724 -0.857429 -0.727534
Group2 Index1 -0.222645 -1.743265 -2.284256
       Index2 -1.341822  0.700953  1.453905
       Index3  3.628124 -0.867481  1.082405
Group3 Index1 -0.526463  0.992992  0.653860
       Index2 -1.376619 -0.986775  1.181838
       Index3  3.284786 -0.715970 -1.301628

In [23]:
df["Column1"]

Group1  Index1   -1.339549
        Index2    0.890539
        Index3    0.503724
Group2  Index1   -0.222645
        Index2   -1.341822
        Index3    3.628124
Group3  Index1   -0.526463
        Index2   -1.376619
        Index3    3.284786
Name: Column1, dtype: float64

In [25]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -1.339549  0.191568  0.003694
Index2  0.890539 -1.463553 -0.341711
Index3  0.503724 -0.857429 -0.727534

In [26]:
df.loc["Group2"]

         Column1   Column2   Column3
Index1 -0.222645 -1.743265 -2.284256
Index2 -1.341822  0.700953  1.453905
Index3  3.628124 -0.867481  1.082405

In [27]:
df.loc[["Group1","Group2"]]

                Column1   Column2   Column3
Group1 Index1 -1.339549  0.191568  0.003694
       Index2  0.890539 -1.463553 -0.341711
       Index3  0.503724 -0.857429 -0.727534
Group2 Index1 -0.222645 -1.743265 -2.284256
       Index2 -1.341822  0.700953  1.453905
       Index3  3.628124 -0.867481  1.082405

In [31]:
df.loc["Group1"].loc["Index1"]

Column1   -1.339549
Column2    0.191568
Column3    0.003694
Name: Index1, dtype: float64

In [33]:
df.loc["Group1"].loc["Index1","Column1"]

-1.3395489958513853

In [34]:
df.loc["Group1"].loc["Index1"]["Column1"]

-1.3395489958513853

In [35]:
df.index.names

FrozenList([None, None])

In [36]:
df.index.names=["Groups","Indexes"]

In [37]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -1.339549  0.191568  0.003694
       Index2   0.890539 -1.463553 -0.341711
       Index3   0.503724 -0.857429 -0.727534
Group2 Index1  -0.222645 -1.743265 -2.284256
       Index2  -1.341822  0.700953  1.453905
       Index3   3.628124 -0.867481  1.082405
Group3 Index1  -0.526463  0.992992  0.653860
       Index2  -1.376619 -0.986775  1.181838
       Index3   3.284786 -0.715970 -1.301628

In [38]:
df.loc["Group1"]

          Column1   Column2   Column3
Indexes
Index1  -1.339549  0.191568  0.003694
Index2   0.890539 -1.463553 -0.341711
Index3   0.503724 -0.857429 -0.727534

In [39]:
df.xs("Group1")

          Column1   Column2   Column3
Indexes
Index1  -1.339549  0.191568  0.003694
Index2   0.890539 -1.463553 -0.341711
Index3   0.503724 -0.857429 -0.727534

In [42]:
df.xs("Group1").xs("Index1").xs("Column1")

-1.3395489958513853

In [43]:
df.xs("Index1",level="Indexes")

         Column1   Column2   Column3
Groups
Group1 -1.339549  0.191568  0.003694
Group2 -0.222645 -1.743265 -2.284256
Group3 -0.526463  0.992992  0.653860