In [1]:
import numpy as np
import pandas as pd

In [16]:
dataset = {
        "Departman":["Bilişim","İnsan Kaynakları","Üretim","Üretim","Bilişim","İnsan Kaynakları"],
        "Maaş":[3000,3500,2500,4500,4000,2000],
        "Çalışan": ["Mustafa","Jale","Kadir","Zeynep","Murat","Ahmet"]
        }

In [17]:
df = pd.DataFrame(dataset)

In [18]:
df

          Departman  Maaş  Çalışan
0           Bilişim  3000  Mustafa
1  İnsan Kaynakları  3500     Jale
2            Üretim  2500    Kadir
3            Üretim  4500   Zeynep
4           Bilişim  4000    Murat
5  İnsan Kaynakları  2000    Ahmet

In [19]:
DepGroup = df.groupby("Departman")

In [20]:
DepGroup

In [21]:
DepGroup.sum()

                  Maaş
Departman
Bilişim           7000
Üretim            7000
İnsan Kaynakları  5500

In [22]:
df.groupby("Departman").sum()

                  Maaş
Departman
Bilişim           7000
Üretim            7000
İnsan Kaynakları  5500

In [23]:
df.groupby("Departman").sum().loc["Bilişim"]

Maaş    7000
Name: Bilişim, dtype: int64

In [24]:
int(df.groupby("Departman").sum().loc["Bilişim"])

7000

In [25]:
df.groupby("Departman").count()

                  Maaş  Çalışan
Departman
Bilişim              2        2
Üretim               2        2
İnsan Kaynakları     2        2

In [26]:
df.groupby("Departman").max()

                  Maaş  Çalışan
Departman
Bilişim           4000  Mustafa
Üretim            4500   Zeynep
İnsan Kaynakları  3500     Jale

In [27]:
df.groupby("Departman").min()

                  Maaş Çalışan
Departman
Bilişim           3000   Murat
Üretim            2500   Kadir
İnsan Kaynakları  2000   Ahmet

In [28]:
df.groupby("Departman").min()["Maaş"]

Departman
Bilişim             3000
Üretim              2500
İnsan Kaynakları    2000
Name: Maaş, dtype: int64

In [29]:
df.groupby("Departman").min()["Maaş"]["Bilişim"]

3000

In [30]:
df.groupby("Departman").mean()

                  Maaş
Departman
Bilişim           3500
Üretim            3500
İnsan Kaynakları  2750

In [31]:
df.groupby("Departman").mean()["Maaş"]["Bilişim"]

3500